@page
@model ContosoUniversity.WebApplication.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Departments";
}

<h2  id="title">@ViewData["Title"]</h2>

<p>
    <a id="link-create" asp-page="Create">Create New</a>
</p>


@if (Model.Department.Count > 0)
{
    <table id="table-list" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Departments[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Departments[0].Budget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Departments[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Departments[0].Instructor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Department.Departments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instructor.FirstName)
                        @Html.DisplayFor(modelItem => item.Instructor.LastName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
             }
        </tbody>
    </table>
}
else
{
    <p>No data</p>
}